<%-include('cabecalho.ejs')%>
    <form method="post" enctype="multipart/form-data">
    <div>
        <label for="nome" class="form-label">Nome</label>
        <input type="text" name="nome" id="nome" class="form-control border border-primary">
    </div>
    <div>    
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" id="email" class="form-control border border-primary">
    </div>
    <div>    
        <label for="senha" class="form-label">Senha</label>
        <input type="password" name="senha" id="senha" class="form-control border border-primary">
    </div>
    <div>    
        <label for="foto" class="form-label">Foto</label>
        <input type="file" name="foto" id="foto" class="form-control border border-primary" >
    </div>
    <div>    
    <label for="datanasc" class="form-label">Data de nascimento</label>
        <input type="date" name="datanasc" id="datanasc" class="form-control border border-primary" >
    </div>
    <div>
        <input type="submit" value="Enviar" class=" btn btn-outline-primary mt-3 mb-3">
    </div>
    </form>
</body>
</html>
<%-include('rodape.ejs')%>