<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paragrafos</title>
</head>
<h1>Digite o numero de paragrafos</h1>
<body>
    <form action="/tabela" method="post">
        <label for="linhas">Digite o numero de linhas</label>
        <input type="number" name="linhas" min="1" id="linhas"><br>
        <label for="colunas">Digite o numero de colunas</label>
        <input type="number" name="colunas" id="colunas">
        <input type="submit" value="Enviar">
    </form>

    <%if(typeof linhas!=="undefined" && typeof colunas!=="undefined"){%>
        <table>
        <%for(let i=0;i<=linhas;i++){%>
            <tr>
                <%for(let i=0;i<=colunas;i++){%>
                <td>
                    <%=i%>
                </td>
                <%}%>
            </tr>
        <%}%>
        </table>
    <%}%>
</body>
</html>