<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de imagem</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <label for="foto">Foto</label>
        <input type="file" name="foto" id="foto" accept="image/*">
        <input type="submit" value="Enviar foto">
    </form>
</body>
</html>