<%-include('cabecalho.ejs')%>
    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome">
        </div>
        <div>
            <label for="matricula"></label>
            <input type="text" name="matricula" id="matricula" value="<%- "AL" + "-" + Math.floor(Math.random() * 100000000).toString()%>">
        </div>
        <label for="foto">Foto</label>
        <input type="file" name="foto" id="foto">
        <div>
            <input type="reset" value="limpar">
            <input type="submit" value="Adicionar">
        </div>
    </form>
    </body>

    </html>
    <%-include('rodape.ejs')%>