<%-include('cabecalho.ejs')%>
<div class="d-flex flex-column flex-grow-1 p-3 text-bg-light">    
    <form method="post" enctype="multipart/form-data">
        <div>
            <label class="form-label" for="email">Email</label>
            <input class="form-control type="email" name="email" id="email">
        </div>
        <div>
            <label class="form-label" for="nome">Nome</label>
            <input class="form-control" type="text" name="nome" id="nome">
        </div>
        <label class="form-label" for="matricula">Matricula</label>
            <input class="form-control" type="text" name="matricula" id="matricula" value="<%- "PR" + "-" + Math.floor(Math.random() * 100000000).toString()%>">
        <div>
            <label class="form-label" for="senha">Senha</label>
            <input class="form-control" type="password" name="senha" id="senha">
        </div>
        <label class="form-label" for="foto">Foto</label>
        <input class="form-control" type="file" name="foto" id="foto">
        <div>
            <label class="form-check-label" for="admin">Admin</label>
            <input  class="form-check-input" type="checkbox" value="admin" name="admin" id="admin">
        </div>
        <div>
            <input class="btn btn-secondary" type="reset" value="Limpar">
            <input class="btn btn-primary" type="submit" value="Adicionar">
        </div>
    </form>
</div>
    </body>

    </html>
    <%-include('rodape.ejs')%>