<%-include('cabecalho.ejs')%>
    <div>
        <h1>ESCOLA</h1>
        <h2>Gente Inocente</h2>
    </div>
    <div>
        <h3>Login</h3>
    </div>
    <form>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
        </div>
        <div>
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha">
        </div>
    </form>
</body>

</html>