<%-include('cabecalho.ejs')%>
<div>
    <h1>Alunos</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Curso</th>
            <th>Matrícula</th>
            <th>Status</th>
        </tr>
        
    </table>
</div>