<%-include('cabecalho.ejs')%>
<div>
    <h1>Alunos</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Matrícula</th>
        </tr>
        <% alunos.forEach(aluno => { %>
            <tr>
                <td><%= aluno.nome %></td>
                <td><%= aluno.email %></td>
                <td><%= aluno.matricula %></td>
            </tr>
        <% }); %>
    </table>
</div>