<%-include('cabecalho.ejs')%>
<body>
    <div>
        <h1>ESCOLA</h1>
        <h2>Gente Inocente</h2>
    </div>
    <div>
        <a href="/views/login.ejs">Login</a>
    </div>
    <div>
        <a href="/views/cadastro.ejs">Cadastro</a>
    </div>
<%-include('rodape.ejs')%>