<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Inicio</title>
</head>

<body>
    <div>
        <h1>ESCOLA</h1>
        <h2>Gente Inocente</h2>
    </div>
    <div>
        <a href="/views/login.ejs">Login</a>
    </div>
    <div>
        <a href="/views/cadastro.ejs">Cadastro</a>
    </div>
</body>

</html>